<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="favoritos.css">
    <script defer src="favoritos.js"></script>
    <title>Teste QConcursos</title>
</head>
<body>
        <div id="cardContainer">
            <div id="card">
                <div id="fotoUser">
                    <img id="fotoPerfil" src="https://image.flaticon.com/icons/png/512/25/25231.png">
                    <a id="linkPerfil" href="https://github.com/daltrowilliam" target="_blank">Visitar Perfil</a>
                </div>
                <div id="infoContainer">
                    <div id="resumo">
                        <p id="repositorios" class="textoResumo"></p>
                        <p id="seguidores" class="textoResumo">Loading...</p>
                        <p id="seguindo" class="textoResumo"></p>
                    </div>
                    
                    <div id="botoes">
                        <a class="BotaoCard" href="../Repositorios/repositorios.html">VER REPOSITÓRIOS</a>
                        <a class="BotaoCard"href="../../index.html">VER HOME</a>
                    </div>
                </div>

            </div>
        </div>
        <div id="favoritosContainer">
            
        </div>

        
</bodyclass=>
</html>